RightsSearchServiceService.xml

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-581-SNAPSHOT. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-581-SNAPSHOT. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://rightsearch.nhso.go.th/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://rightsearch.nhso.go.th/" name="RightsSearchServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://rightsearch.nhso.go.th/" schemaLocation="http://ucws.nhso.go.th:80/RightsSearchService/RightsSearchServiceService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="seacrhByPid">
<part name="parameters" element="tns:seacrhByPid"></part>
</message>
<message name="seacrhByPidResponse">
<part name="parameters" element="tns:seacrhByPidResponse"></part>
</message>
<message name="seacrhByPidAndDate">
<part name="parameters" element="tns:seacrhByPidAndDate"></part>
</message>
<message name="seacrhByPidAndDateResponse">
<part name="parameters" element="tns:seacrhByPidAndDateResponse"></part>
</message>
<message name="seacrhByPids">
<part name="parameters" element="tns:seacrhByPids"></part>
</message>
<message name="seacrhByPidsResponse">
<part name="parameters" element="tns:seacrhByPidsResponse"></part>
</message>
<message name="seacrhByPidAndDates">
<part name="parameters" element="tns:seacrhByPidAndDates"></part>
</message>
<message name="seacrhByPidAndDatesResponse">
<part name="parameters" element="tns:seacrhByPidAndDatesResponse"></part>
</message>
<portType name="RightsSearchService">
<operation name="seacrhByPid">
<input message="tns:seacrhByPid"></input>
<output message="tns:seacrhByPidResponse"></output>
</operation>
<operation name="seacrhByPidAndDate">
<input message="tns:seacrhByPidAndDate"></input>
<output message="tns:seacrhByPidAndDateResponse"></output>
</operation>
<operation name="seacrhByPids">
<input message="tns:seacrhByPids"></input>
<output message="tns:seacrhByPidsResponse"></output>
</operation>
<operation name="seacrhByPidAndDates">
<input message="tns:seacrhByPidAndDates"></input>
<output message="tns:seacrhByPidAndDatesResponse"></output>
</operation>
</portType>
<binding name="RightsSearchServicePortBinding" type="tns:RightsSearchService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="seacrhByPid">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="seacrhByPidAndDate">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="seacrhByPids">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="seacrhByPidAndDates">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="RightsSearchServiceService">
<port name="RightsSearchServicePort" binding="tns:RightsSearchServicePortBinding">
<soap:address location="http://ucws.nhso.go.th:80/RightsSearchService/RightsSearchServiceService"></soap:address>
</port>
</service>
</definitions>